.dropzone {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px 10px;
   cursor: pointer;
   background-color: #eee;
}

.icon {
   color: #888;
}

.file-box {
   position: relative;
   width: 200px;
   height: 200px;
   margin: 0 auto;
}

.file {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;

}